//PRODUCTOS DE INICIO//



.productos1{
    
                
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 15px;
    background-image: url('./Imagenes/imagenes/fondocafe.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding:20px;}


.productos1 img{
    
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border: 10px;
    border: 5px solid rgb(215, 151, 218);
    

    transition: 0,3 ease-in-out;}
    .productos1 .card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #e064ff, 0 0 20px #00ffff, 0 0 30px #ff00ff;
    animation: luces 2s infinite alternate;
}


@keyframes luces {
    0% {
        box-shadow: 0 0 15px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff7aff;
    }
    50% {
        box-shadow: 0 0 15px #00ffff, 0 0 25px #ff00ff, 0 0 35px #00ffff;
    }
    100% {
        box-shadow: 0 0 50px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff00ff;
    }
} 

    .card-body{
    


   h3{ color: rgb(0, 0, 0);
    font-size:2rem;
    font-family: fantasy!important;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.979);
    color: rgb(0, 0, 0);
    }

    p{
    font-size: larger!important;
    font-family: cursive!important;
    }}


    .card{
    background-color: #6c5b7b;}
    
    img:hover{
transform: scale(1.0s);
}


.producto-galeria{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    background-color: #966d5f rgba(150, 109, 95, 0.3);
    padding: 20px;}




 //PRODUCTOS DE DESAYUNO//
.container2{
    display: flex;
    
    background: linear-gradient(to right, #F67280, #355C7D)
}



    .card-producto{
        display: flex;
    

    
    img{
        width: 50%;
        height:58vh;
        object-fit: cover;
    

    }}
.card-body{
h3{
        font-family: "Lilita One", sans-serif;
        font-size: 2.5rem;
        font-size: 40px;
        text-shadow: 2px 2px 5px rgb(255, 255, 255);
        text-align: center;
        font-weight: bold;

    }
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        text-align: center;
        font-style: oblique;
        font-weight: bold;
    }
}


    
 //BOX PARA REGALAR//
.productos2{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle,  #6c5b7b,#f67280,);
}


.carta{
    width: 300px;
margin:auto;
box-shadow: 0px 0px 40px #ff00f2;
transition: box-shadow 0.3s ease-in-out;
background-color: #355c7d;
gap:5px;

    opacity: 1 !important;
    transform: none !important;


h3{
    text-align: center;
    text-shadow: 50px 50px 50px  #ff008c;
    font-family: cursive;
    font-size: 3rem;
    text-shadow: 2px 2px 5px white;
    color: rgb(0, 0, 0);
}

.carta body{
padding: 0px;
gap:10px;
max-width: 20vh;

}

p{
    text-align: center;
    font-size: 1rem;
    color:whitesmoke
}

.card-img-top{
    height:50vh;
    object-fit: cover;

    
    
    
}
.card-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2px;
    background-image: url('../marumaru/Imagenes/imagenes/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:10px;
    }}






                    //frapuccinos//
                
                    .productos4 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 20px;
                    padding: 20px;
                    background: radial-gradient(circle,  #6c5b7b,#355c7d,);
                
                    display: flex;
                

        h3{
                    font-family: fantasy;
                    color: black;
                    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.979);
                    font-style: italic;
                    font-size: 3rem;
                }
            
                .card {
                    position: relative;
                    width: 18rem;
                    overflow: hidden;
                    border-radius: 15px;
                    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                    border: 4px solid plum;
                    animation: borderAnimation 3s infinite linear;
                }
                
                .card:hover {
                    transform: scale(1.05);
                    box-shadow: 10px 10px 20px rgba(255, 0, 221, 0.8);
                }
                
            
                
                .card img {
                    border-radius: 15px 15px 0 0;
                    transition: transform 0.3s ease-in-out;
                    width: 100%;
                    height: 40vh;
                }
                
                .card:hover img {
                    transform: scale(1.1);
                    color: #ff008c;
                }

/* Estilo del botón */
.btn-primary {
    background-color: #e791c6;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #ff01f2;
}


@keyframes fadeIn {
    from { opacity: 1; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.card {
    animation: fadeIn 0.8s ease-in-out;
}}

        

